@model Orchard.Captcha.Models.CaptchaSettingsPartRecord
@using Orchard.Comments.Models;

<fieldset>
    <legend>@T("Captcha")</legend>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.PublicKey)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PublicKey)
        @Html.ValidationMessageFor(model => model.PublicKey)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PrivateKey)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.PrivateKey)
        @Html.ValidationMessageFor(model => model.PrivateKey)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Theme)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Theme)
        @Html.ValidationMessageFor(model => model.Theme)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CustomCaptchaMarkup)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CustomCaptchaMarkup)
        @Html.ValidationMessageFor(model => model.CustomCaptchaMarkup)
    </div>

</fieldset>